/* For index */

html {
    background-color: rgb(245, 230, 216);
    font-family:'Courier New', Courier, monospace;
}

body {
    box-sizing: border-box;
    display: block;
    width: 700px;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
}

.title {
    color: rgb(237, 203, 242);
    text-align: center;
    border: 15px;

}

.recipe-list {
    font-family: sans-serif;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 100px;
    margin-bottom:0px;
    
}

.recipe-list li {
    margin: auto; 
    
}

.recipe-list a {
    background-color: rgb(189, 189, 251);
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    display: block;
    margin: 5px;
}

.recipe-list a:hover {
    background-color: purple;
    color: white;
}

/* For Recipes*/

img {
    display: block;
    margin: auto;

}

.indentation {
    padding: 25px;

}

.highlight {
    background-color: yellow;
}